<div class="container-fluid">
    <div class="row g-4 mt-1">
      <div class="col-12 col-lg-8">
        <div class="row g-1">
          <div class="row row-cols-4">
        <!--La parte de los productos-->
        @for (carrito of arrayCarrito; track $index) {
          <app-producto-component [miProducto]="carrito"></app-producto-component>
        }
        </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">

        <!--la parte de el carrito con el total-->
      </div>
    </div>


</div>
