<form #filterFormC="ngForm" (ngSubmit)="getDataFilterCategory(filterFormC)">
      <div class="d-flex gap-2">
        <label for="categoria" class="form-label">Filtro por categoria</label>
        <select name="categoria" id="categoria" class="form-select" ngModel>
            <option value="">Todos los productos</option>
            @for(categoria of categorias; track $index){
            <option [value]="categoria">{{categoria}}</option>
            }
        </select>
        <input type="submit" value="Filtrar" class="btn btn.sm btn-danger">
    </div>
</form>

