<div class="card shadow" style="width: 18rem; height: 14rem;">
  <div class="card-body">
    <h4 class="card-title">Producto: {{miProducto.title}}</h4>
    <h6 class="card-title">href: {{miProducto.sku}}</h6>
    <p class="card-text">Precio: {{miProducto.price}}{{currency}}</p>
    <button class="btn btn-danger mx-1" (click)="quitarCantidad()">-</button>
    <input class="text-center" type="number" [value]="getCantidad()" style="width: 20%; height: 20%;" readonly>
    <button class="btn btn-primary mx-1" (click)="sumarCantidad()">+</button>
  </div>
</div>
